projeto/analisador/__pycache__
projeto/__pycache__
projeto/algoritimos/busca/__pycache__
projeto/algoritimos/ordenacao/__pycache__
projeto/analisador/__pycache__
projeto/utils/__pycache__
projeto/validacao/graficos